# HBPK Metadata File
*.hbmd

# changes file
*.changes
*.chg

# system image
*.image
*.img7
*.img

# Pharo Smalltalk Debug log file
PharoDebug.log

# Squeak Smalltalk Debug log file
SqueakDebug.log

# Scratch 3.0 source file
*.sb3

# Dolphin Smalltalk error file
*.errors

# Beacon Source File
*.bcon

# bcon-cmp Error Log File
bcon-cmp-errors.log

# Hubot App File
*.hbpk

# bcon-ide App File
bcon-ide.hbpe

# Monticello package cache
/package-cache

# playground cache
/play-cache
/play-stash

# Metacello-github cache
/github-cache
github-*.zip

# bcon-cmp Personalizaton File
/bcon-pf
*.bconpf

# Hubot OS Skex File
*.hbskex

# bcon-adt Console File
bcon-adt.sb3
bcon-adt.bconpf

# Hubot OS Console File
*.hbcf

# pastaOS Video File
*.povid

# pastaOS Music File
*.pomus
